<fieldset class="rating">
  <input [checked]="rating===5" [name]="inputName" type="radio" value="5"/>
  <label (click)='onClick(5)' title="Rocks!">5 stars</label>

  <input [checked]="rating===4" [name]="inputName" type="radio" value="4"/>
  <label (click)='onClick(4)' title="Pretty good">4 stars</label>

  <input [checked]="rating===3" [name]="inputName" type="radio" value="3"/>
  <label (click)='onClick(3)' title="Meh">3 stars</label>

  <input [checked]="rating===2" [name]="inputName" type="radio" value="2"/>
  <label (click)='onClick(2)' title="Kinda bad">2 stars</label>

  <input [checked]="rating===1" [name]="inputName" type="radio" value="1"/>
  <label (click)='onClick(1)' title="Sucks big time">1 star</label>
</fieldset>
