<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
  <img *ngIf="!this.auth.isAuthenticated()" alt="Traily" class="Logo" src="/assets/img/Logo_light.png">
  <img *ngIf="this.auth.isAuthenticated()" [routerLink]="['/map', currentUser.id]" alt="Traily" class="Logo"
       src="/assets/img/Logo_light.png">
  <img *ngIf="this.auth.isAuthenticated() && currentUser.image" [matMenuTriggerFor]="menu" [src]="currentUser.image"
       alt="Profile_picture" class="portrait">
  <img *ngIf="this.auth.isAuthenticated() && !currentUser.image" [matMenuTriggerFor]="menu" alt="Profile_picture"
       class="portrait" src="assets/img/Portrait_Default.png">
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/map', currentUser.id]" mat-menu-item>My Tracks</button>
    <button [routerLink]="['/settings', currentUser.id]" mat-menu-item>Account</button>
    <button *ngIf="currentUser.role=='admin'" [routerLink]="['/admin']" mat-menu-item>Administration Panel</button>
    <button *ngIf="currentUser.role=='coach'" [routerLink]="['/coach']" mat-menu-item>Coach Panel</button>
    <button [queryParams]="{logout: 'true'}" [routerLink]="['/logout']" class="logout" mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container>
  <router-outlet></router-outlet>

</mat-drawer-container>
