.title-center {
  margin: 0 auto;
}


.text-center {
  margin: 0 auto;
}

.mat-button,
.mat-button-wrapper {
  height: 100%;
}

mat-card {
  height: calc(100% - 32px);
}

mat-card-content {
  height: 100%;
}


mat-drawer-container {
  height: calc(100% - 64px);
}

.appRouter {
  display: block;
  height: 100%;
}

router-outlet + * {
  display: block;
  height: 100%;
}

app-dashboard {
  display: block;
  height: 100%;
}

.Logo {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.portrait {
  max-width: 70%;
  max-height: 70%;
  float: right;
  border-radius: 50%
}

::ng-deep .mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


.logout {
  background-color: rgba(180, 1, 1, 1) !important;
  color: white;
}

.bg {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 32px);
  color: #fff;
  background-size: 400% 400%;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}
