<p>Dear {{name}},</p>
<p>Below is your one-time temporary password that you can use to login. After logging in, please change your previous
    password.</p>

<p>{{tempPass}}</p>

<p>
    Regards,<br/>
    Team.
</p>
