<div class="centeredBoth">
  <div class="box">
    <!-- <img class="Logo" alt="Traily" src="/assets/img/Logo.png"> -->
  </div>
  <mat-card>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-content [formGroup]="myForm">
      <mat-form-field *ngIf="registerBool" class="full-width">
        <input formControlName="name" matInput maxlength="128" placeholder="Name">
        <mat-error *ngIf="myForm.get('name').errors?.required">
          this is a required field
        </mat-error>
        <mat-error *ngIf="myForm.get('name').errors?.maxlength">
          Your name cannot exceed 128 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-icon matPrefix>perm_identity</mat-icon>
        <input formControlName="email" matInput ng-pattern="/^.+@.+\..+$/" placeholder="Email" type="text">
        <mat-error *ngIf="myForm.get('email').errors?.required">
          this is a required field
        </mat-error>
        <mat-error *ngIf="myForm.get('email').errors?.email">
          You need a valid email format (jon.snow@winterfell.com)
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-icon matPrefix>https</mat-icon>
        <input formControlName="password" matInput maxlength="128" minlength="6" placeholder="Password" type="password">
        <mat-error *ngIf="myForm.get('password').errors?.required">
          this is a required field
        </mat-error>
        <mat-error *ngIf="myForm.get('password').errors?.minlength">
          Your password must be at least 6 characters long
        </mat-error>
        <mat-error *ngIf="myForm.get('password').errors?.maxlength">
          Your password cannot exceed 128 characters
        </mat-error>
      </mat-form-field>
      <div (click)="forgottenpassword()" class="forgottenPassword">Forgotten password?</div>
    </mat-card-content>
    <button (click)="login()" (keyup.enter)="login()"
            [disabled]="myForm.get('email').invalid || myForm.get('password').invalid"
            class="left" color="primary" mat-raised-button>Login
    </button>
    <button (click)="registerBool=true; message.text=''" *ngIf="!registerBool" class="right" color="primary"
            mat-raised-button>Sign
      up
    </button>
    <button (click)="register()" *ngIf="registerBool" [disabled]="myForm.invalid" class="right" color="accent"
            mat-raised-button>Register
    </button>
    <div fxLayoutAlign="center">
      <button (click)="submitLoginFacebook();" class="fb connect">Login with facebook</button>
    </div>
    <div *ngIf="message.text"
         [ngClass]="{'errorMessage' : message.type == 'error', 'successMessage' : message.type == 'success'}"
         class="message"
         fxLayoutAlign="center">
      {{message.text}}</div>
  </mat-card>
</div>
