<h1 mat-dialog-title>Upload a profile picture</h1>
<div mat-dialog-content>
  <input (change)="fileChangeEvent($event)" type="file"/>
  <image-cropper (cropperReady)="cropperReady()" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                 (loadImageFailed)="loadImageFailed()" [aspectRatio]="1" [imageChangedEvent]="imageChangedEvent"
                 [maintainAspectRatio]="true"
                 [resizeToWidth]="200"
                 format="png" outputType="both"></image-cropper>
</div>
<div mat-dialog-actions>
  <button [disabled]="croppedImage == undefined" [mat-dialog-close]="croppedImage" cdkFocusInitial
          mat-button>Ok
  </button>
  <button [mat-dialog-close]="undefined" cdkFocusInitial color="warn" mat-button>Cancel</button>
</div>
