<mat-card class="full">
  <mat-card-title>User modification</mat-card-title>
  <div fxLayout="column wrap">
    <mat-card-content [formGroup]="myForm" fxLayout="row wrap" fxLayoutAlign="">
      <div style="flex: 2 1 0;">
        <mat-form-field class="full-width">
          <input formControlName="name" matInput maxlength="128" placeholder="Name">
          <mat-error *ngIf="myForm.get('name').errors?.required">
            This is required field
          </mat-error>
          <mat-error *ngIf="myForm.get('name').errors?.maxlength">
            Your name cannot exceed 128 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input formControlName="email" matInput ng-pattern="/^.+@.+\..+$/" placeholder="Email">
          <mat-error *ngIf="myForm.get('email').errors?.required">
            This is required field
          </mat-error>
          <mat-error *ngIf="myForm.get('email').errors?.email">
            You need a valid email format (jon.snow@winterfell.com)
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="currentUserRole=='admin'" class="full-width">
          <mat-select formControlName="role" placeholder="Role">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.get('role').errors?.required">
            This is required field
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="currentUserRole=='admin'" class="full-width">
          <mat-select formControlName="coach" placeholder="User's coach">
            <mat-option *ngFor="let coach of coachList" [value]="coach">
              {{coach.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.get('role').errors?.required">
            This is required field
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input formControlName="password" matInput maxlength="128" minlength="6" placeholder="Password">
          <mat-error *ngIf="myForm.get('password').errors?.required">
            This is required field
          </mat-error>
          <mat-error *ngIf="myForm.get('password').errors?.minlength">
            Your password must be at least 6 characters long
          </mat-error>
          <mat-error *ngIf="myForm.get('password').errors?.maxlength">
            Your password cannot exceed 128 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div fxfill style="flex: 1 1 0;">
        <mat-card class="center-container">
          <img *ngIf="profilePicture == undefined" alt="Profile Picture" class="img-container"
               src="/assets/img/Portrait_Default.png">
          <img *ngIf="profilePicture != undefined" [src]="profilePicture" alt="Profile Picture" class="img-container">
          <button (click)="openDialog()" color="primary" mat-raised-button style="flex">Upload Image</button>
        </mat-card>
      </div>
    </mat-card-content>
    <div class="center-container" fxfill style="flex: 1 1 0;">
      <button (click)="editUser()" [disabled]="myForm.invalid" color="primary" mat-raised-button style="flex">Modify
        user
      </button>
      <div *ngIf="message.text"
           [ngClass]="{'errorMessage' : message.type == 'error', 'successMessage' : message.type == 'success'}"
           class="message">
        {{message.text}}</div>
    </div>
  </div>

</mat-card>


