.mat-card-title {
  text-align: center
}

.full-width {
  width: 90%
}

.message {
  border: 2px solid;
  border-radius: 4px;
  padding: 0.4em;
  margin: 1em;
}

.errorMessage {
  border-color: red;
  color: red;
}

.successMessage {
  border-color: green;
  color: green;
}

.img-container {
  height: 200px;
  width: 200px;
  background-color: rgb(211, 211, 211);
}

.center-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

