.full {
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
}

.full-width {
  width: 100%;
}

.center-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.deleteIcon:hover {
  color: red;
  cursor: pointer;
}

.mat-column-delete {
  flex: 0 0 30px;
}


.message {
  border: 2px solid;
  border-radius: 4px;
  padding: 0.4em;
  margin: 1em;
}

.errorMessage {
  border-color: red;
  color: red;
}

.successMessage {
  border-color: green;
  color: green;
}

mat-cell {
  padding-right: 12px !important;
}

.portrait {
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
  min-width: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
}
