<div class="center-container">
  <mat-card class="full">
    <mat-card-title fxLayoutAlign="center">{{currentUser.role | titlecase}} dashboard</mat-card-title>
    <mat-card-content>
      <mat-form-field fxLayoutAlign="center">
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <div class="mat-elevation-z8 full-width">
        <mat-table [dataSource]="dataSource" class="full-width" matSort>

          <!-- User Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id</mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
          </ng-container>

          <!-- Picture Column -->
          <ng-container matColumnDef="picture">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let user"><img *ngIf="user.picture" [src]="user.picture" class="portrait" alt="">
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
          </ng-container>

          <!-- Role Column -->
          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Role</mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="delete">
            <div *ngIf="currentUser.role =='admin'">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Delete</mat-header-cell>
              <mat-cell *matCellDef="let user">
                <mat-icon (click)="deleteUser(user.id);$event.stopPropagation();" class="deleteIcon">delete</mat-icon>
              </mat-cell>
            </div>
            <div *ngIf="currentUser.role =='coach'">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Stop coaching</mat-header-cell>
              <mat-cell *matCellDef="let user">
                <mat-icon (click)="removeTrainee(user.id);$event.stopPropagation();" class="deleteIcon">highlight_off
                </mat-icon>
              </mat-cell>

            </div>

          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <div *ngIf="currentUser.role =='admin'">
            <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/settings', row.id]"></mat-row>

          </div>
          <div *ngIf="currentUser.role =='coach'">
            <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/map', row.id]"></mat-row>
          </div>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 15, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>

  </mat-card>

  <mat-card *ngIf="currentUser.role =='coach'" class="full">
    <mat-card-title fxLayoutAlign="center">Assign yourself a new trainee</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full">
        <input [(ngModel)]="traineemail" matInput maxlength="128" placeholder="Email">
      </mat-form-field>
      <div>
        <div fxLayoutAlign="center">
          <button (click)="assignTrainee()" color="primary" fxLayoutAlign="center" mat-raised-button>Confirm</button>
        </div>
      </div>
      <div *ngIf="message.text"
           [ngClass]="{'errorMessage' : message.type == 'error', 'successMessage' : message.type == 'success'}"
           class="message"
           fxLayoutAlign="center">
        {{message.text}}</div>
    </mat-card-content>
  </mat-card>
</div>
