<h1 mat-dialog-title>Choose a name for this track </h1>
<div mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="data.name" matInput placeholder="Enter the track name" required="true">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button [disabled]="data.name==''" [mat-dialog-close]="data.name" cdkFocusInitial mat-button>Ok
  </button>
</div>
