.map {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.full {
  height: 100%
}

.overflow-container {
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
}

.categories {
  font-weight: bold
}

.subscript {
  font-size: 0.75em;
}

mat-accordion {
  height: 100%;
  width: 100%;
}

.line {
  width: 100%;
  height: 4px;
  border-bottom: 4px solid;
  padding: 2px;
  margin-bottom: 10px;
}


#drawerButton {
  position: fixed;
  left: 0px;
  top: 10px;
  color: white;
  padding: 0px;
}

#deleteIcon:hover {
  color: red;
  cursor: pointer;
}

h2 {
  color: #3f51b5;
  font-family: Roboto, sans-serif;
  margin: auto;
}

.vertical-container {
  display: flex;
  align-items: center;
  padding-right: 10px
}


mat-button-toggle-group, mat-button-toggle {
  flex-grow: 1;
}

.track-card {
  padding: 20px;
}

.hidden-card {
  pointer-events: none;
  display: none;
}

.star-rating {
  display: flex;
  float: right;
}


.full-star {
  height: 100%;
  max-width: 20px;
  max-height: 10px;
}

#overlay.show {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 0.5em;
  pointer-events: none
}

#overlay.hide {
  visibility: hidden
}

//// LOADING SPINNER

.loading {
  height: 10vh;
  text-align: center;
  margin-top: 25%
}

.loading .spinner {
  height: 75%;
  width: 75%;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  margin: auto;

}

.loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #3f51b5;
}

.loading .wrapperMap {
  visibility: hidden
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

