<div class="full" fxLayout="row" fxLayoutAlign="">
  <div [fxHide.lt-sm]="!drawerActivated" fxShow style="flex: 1 1 0; display:flex; flex-direction:column;">
    <div *ngIf="!initDone" [ngClass]="{'loading' : !initDone, '': initDone}">
      <div class="logo"></div>
      <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="2"></circle>
      </svg>
      <h2>Fetching list of tracks</h2>
    </div>
    <h2 *ngIf="initDone && trackList.length<1">Create your first track</h2>
    <div *ngIf="trackList.length>=1" fxLayout="row">
      <mat-button-toggle-group #group="matButtonToggleGroup" value="All">
        <mat-button-toggle (click)="dateFilter(7,$event)" value="Week">1 Week</mat-button-toggle>
        <mat-button-toggle (click)="dateFilter(30,$event)" value="Month">1 Month</mat-button-toggle>
        <mat-button-toggle (click)="dateFilter(365,$event)" value="Year">1 Year</mat-button-toggle>
        <mat-button-toggle (click)="clearFilter()" value="All">All</mat-button-toggle>
      </mat-button-toggle-group>

    </div>
    <div class="overflow-container">
      <div (click)="zoomOnTrack(track[1])" *ngFor="let track of trackList; let i = index">
        <mat-card *ngIf="vectorSource != undefined && vectorSource.getFeatures().includes(track[1])" class="track-card">
          <div [ngStyle]="{'border-bottom': '4px solid ' + track[1].getStyle().getFill().getColor()}" class="line">
          </div>

          <div style="float: right;">
            <mat-icon (click)="deleteTrack(track); $event.stopPropagation();" *ngIf="userid == loggedUserid"
                      id="deleteIcon">delete
            </mat-icon>
          </div>
          <div class="vertical-container"><span>{{track[0].name | titlecase }}</span></div>
          <div>Date : {{track[0].createdAt | date:'MMMM dd, y - HH:mm'}}</div>
          <div *ngIf="track[0].duration">Duration : {{track[0].duration | date:'HH:mm:ss':'UTC'}}</div>
          <div *ngIf="track[0].distance">Distance : {{track[0].distance.toFixed(2)}} km</div>
          <div *ngIf="track[0].duration && track[0].distance">Mean speed :
            {{(track[0].distance * 1000 / (track[0].duration / 3600)).toFixed(2)}} km/h
          </div>

          <div
            *ngIf="track[0]['rating'] != undefined && track[0]['rating']>0 && currentUserRole=='trainee' || userid == loggedUserid "
            class="star-rating">
            <img *ngFor="let star of counter(track[0]['rating'])" class="full-star" src='/assets/img/star_full.png'>
          </div>
          <div (click)="$event.stopPropagation();" *ngIf="currentUserRole!='trainee' && userid != loggedUserid">
            <app-rating (ratingClick)='ratingComponentClick($event);' [itemId]='track[0].id' [rating]='track[0].rating'
                        class="star-rating"></app-rating>
          </div>
        </mat-card>
      </div>
    </div>
    <button
      (click)="geoloc()"
      *ngIf="initDone && userid == loggedUserid && (geoTracking == 'stopped' || (geoTracking == 'waiting' && initDone))"
      [disabled]="geoTracking == 'waiting'" color="primary" mat-raised-button type="button">Start
      Tracking
    </button>
    <button (click)="geoloc()" *ngIf="userid == loggedUserid && geoTracking == 'launched'" color="warn"
            mat-raised-button type="button">Stop
      Tracking : <span *ngIf="chrono!=0">{{chrono | date:'HH:mm:ss':'UTC'}}</span></button>
  </div>
  <div fxfill style="flex: 3 1 0;">
    <mat-progress-bar *ngIf="query" mode="query"></mat-progress-bar>
    <div class="map" id="map"></div>
  </div>
</div>
<div #container class="hide" id="overlay">
</div>
<button (click)="drawerToggle();" fxHide fxShow.lt-sm id="drawerButton" mat-button type="button">
  <mat-icon>more_vert</mat-icon>
</button>
